n8n/workbench-workflow.json
{
  "name": "工作台 - 前端任务启动",
  "nodes": [
    {
      "id": "aa111111-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "workbench",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000002",
      "name": "解析 Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst ticketUrl = body.ticketUrl || '';\nconst ticketKey = body.ticketKey || '';\n\nif (!ticketKey) {\n  const m = ticketUrl.match(/browse\\/([A-Z]+-\\d+)/i);\n  if (!m) throw new Error('无法解析 Ticket ID，请检查 Jira URL 格式: ' + ticketUrl);\n}\n\nconst key = (ticketKey || ticketUrl.match(/browse\\/([A-Z]+-\\d+)/i)[1]).toUpperCase();\nconst projectKey = key.split('-')[0];\n\nreturn [{\n  json: {\n    ticketUrl,\n    ticketKey: key,\n    projectKey,\n    jiraBase: body.jiraBase || 'carsome.atlassian.net',\n    repo: body.repo || ''\n  }\n}];"
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000003",
      "name": "获取 Jira Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $json.jiraBase }}/rest/api/3/issue/{{ $json.ticketKey }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "basicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "summary,description,parent,issuetype,customfield_10001,customfield_10752,project,assignee"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "JIRA_BASIC_AUTH",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000004",
      "name": "准备新 Issue 数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const issue     = $input.first().json;\nconst prevData  = $('解析 Ticket').first().json;\n\nconst fields       = issue.fields;\nconst summary      = fields.summary || '';\nconst description  = fields.description;\nconst parentKey    = fields.parent?.key || null;\nconst team         = fields.customfield_10001;\nconst country      = fields.customfield_10752;\nconst projectKey   = fields.project?.key || prevData.projectKey;\n\n// 生成分支名：lowercase，下划线，最多 5 个英文词\nfunction toBranchName(text) {\n  return text\n    .replace(/\\[.*?\\]/g, '')         // 去除 [FE] [BE] 等前缀\n    .replace(/[^a-zA-Z0-9\\s]/g, ' ') // 非字母数字转空格\n    .toLowerCase()\n    .trim()\n    .split(/\\s+/)\n    .filter(Boolean)\n    .slice(0, 5)\n    .join('_')\n    .replace(/_+/g, '_')\n    .substring(0, 40);\n}\n\nconst branchDesc = toBranchName(summary);\nconst branch     = 'feature_cxh_' + branchDesc;\n\n// 新标题加 [FE] 前缀\nconst newSummary = /^\\[FE\\]/i.test(summary) ? summary : '[FE] ' + summary;\n\n// 构造 ADF 描述：在原描述 content 数组头部插入「原始需求：xxx」段落\nconst originParagraph = {\n  type: 'paragraph',\n  content: [{\n    type: 'text',\n    text: '原始需求：' + prevData.ticketKey,\n    marks: [{ type: 'strong' }]\n  }]\n};\n\nlet newDescription;\nif (description && Array.isArray(description.content)) {\n  newDescription = {\n    ...description,\n    content: [originParagraph, ...description.content]\n  };\n} else {\n  newDescription = {\n    type: 'doc',\n    version: 1,\n    content: [originParagraph]\n  };\n}\n\n// 构造 additional_fields\nconst extraFields = {};\nif (parentKey) { extraFields.parent = { key: parentKey }; }\nif (team)      { extraFields.customfield_10001 = team; }\nif (country)   { extraFields.customfield_10752 = country; }\n\nconst newIssueBody = {\n  fields: {\n    project:    { key: projectKey },\n    issuetype:  { name: '任务' },\n    summary:    newSummary,\n    description: newDescription,\n    assignee:   { accountId: '6047596a43eac6006f6c3897' },\n    ...extraFields\n  }\n};\n\nreturn [{\n  json: {\n    ...prevData,\n    originalSummary:   summary,\n    originalTicketUrl: 'https://' + prevData.jiraBase + '/browse/' + prevData.ticketKey,\n    parentKey,\n    branch,\n    newSummary,\n    newIssueBody\n  }\n}];"
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000005",
      "name": "创建 [FE] Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.jiraBase }}/rest/api/3/issue",
        "authentication": "genericCredentialType",
        "genericAuthType": "basicAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.newIssueBody) }}",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "JIRA_BASIC_AUTH",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000006",
      "name": "合并创建结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const createdIssue = $input.first().json;\nconst prevData     = $('准备新 Issue 数据').first().json;\n\nconst newIssueKey = createdIssue.key;\nif (!newIssueKey) {\n  throw new Error('创建 Jira Issue 失败: ' + JSON.stringify(createdIssue));\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    newIssueKey,\n    newTicketUrl: 'https://' + prevData.jiraBase + '/browse/' + newIssueKey\n  }\n}];"
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000007",
      "name": "获取 GitHub Main SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/git/ref/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000008",
      "name": "创建 GitHub 分支",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('合并创建结果').first().json.repo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"ref\": \"refs/heads/{{ $('合并创建结果').first().json.branch }}\", \"sha\": \"{{ $json.object.sha }}\"}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000009",
      "name": "获取 Jira Transitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 420],
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $json.jiraBase }}/rest/api/3/issue/{{ $json.newIssueKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "basicAuth",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "Jira Basic Auth",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000010",
      "name": "找到进行中状态",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 420],
      "parameters": {
        "jsCode": "const transitionsResp = $input.first().json;\nconst transitions     = transitionsResp.transitions || [];\nconst merged          = $('合并创建结果').first().json;\n\nconst inProgress = transitions.find(t =>\n  /in.?progress|进行中|正在进行/i.test(t.name)\n);\n\nif (!inProgress) {\n  console.log('Available transitions:', transitions.map(t => t.name));\n}\n\nreturn [{\n  json: {\n    ...merged,\n    transitionId: inProgress?.id || null,\n    availableTransitions: transitions.map(t => t.name)\n  }\n}];"
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000011",
      "name": "更新状态为进行中",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 420],
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.jiraBase }}/rest/api/3/issue/{{ $json.newIssueKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "basicAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"transition\": {\"id\": \"{{ $json.transitionId }}\"}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "JIRA_BASIC_AUTH",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000012",
      "name": "添加 Jira 评论",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 420],
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('找到进行中状态').first().json.jiraBase }}/rest/api/3/issue/{{ $('找到进行中状态').first().json.newIssueKey }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "basicAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"body\": {\"type\": \"doc\", \"version\": 1, \"content\": [{\"type\": \"paragraph\", \"content\": [{\"type\": \"text\", \"text\": \"前端分支：{{ $('找到进行中状态').first().json.branch }}\", \"marks\": [{\"type\": \"code\"}]}]}]}}",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "JIRA_BASIC_AUTH",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000013",
      "name": "发送钉钉通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 300],
      "parameters": {
        "method": "POST",
        "url": "YOUR_DINGTALK_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"msgtype\": \"markdown\",\n  \"markdown\": {\n    \"title\": \"🚀 前端任务已启动\",\n    \"text\": \"### 🚀 前端任务已启动\\n\\n**原始需求**：[{{ $('找到进行中状态').first().json.ticketKey }}]({{ $('找到进行中状态').first().json.originalTicketUrl }}) {{ $('找到进行中状态').first().json.originalSummary }}\\n\\n**前端任务**：[{{ $('找到进行中状态').first().json.newIssueKey }}]({{ $('找到进行中状态').first().json.newTicketUrl }}) {{ $('找到进行中状态').first().json.newSummary }}\\n\\n**功能分支**：`{{ $('找到进行中状态').first().json.branch }}`\\n\\n**经办人**：CuiXiaohuan\\n\\n**状态**：正在进行\"\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "aa111111-0000-0000-0000-000000000014",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 300],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"originalTicket\": \"{{ $('找到进行中状态').first().json.ticketKey }}\",\n  \"originalSummary\": \"{{ $('找到进行中状态').first().json.originalSummary }}\",\n  \"originalTicketUrl\": \"{{ $('找到进行中状态').first().json.originalTicketUrl }}\",\n  \"newTicket\": \"{{ $('找到进行中状态').first().json.newIssueKey }}\",\n  \"newSummary\": \"{{ $('找到进行中状态').first().json.newSummary }}\",\n  \"newTicketUrl\": \"{{ $('找到进行中状态').first().json.newTicketUrl }}\",\n  \"branch\": \"{{ $('找到进行中状态').first().json.branch }}\",\n  \"parentKey\": \"{{ $('找到进行中状态').first().json.parentKey }}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "解析 Ticket", "type": "main", "index": 0 }]]
    },
    "解析 Ticket": {
      "main": [[{ "node": "获取 Jira Issue", "type": "main", "index": 0 }]]
    },
    "获取 Jira Issue": {
      "main": [[{ "node": "准备新 Issue 数据", "type": "main", "index": 0 }]]
    },
    "准备新 Issue 数据": {
      "main": [[{ "node": "创建 [FE] Issue", "type": "main", "index": 0 }]]
    },
    "创建 [FE] Issue": {
      "main": [[{ "node": "合并创建结果", "type": "main", "index": 0 }]]
    },
    "合并创建结果": {
      "main": [
        [
          { "node": "获取 GitHub Main SHA", "type": "main", "index": 0 },
          { "node": "获取 Jira Transitions",  "type": "main", "index": 0 }
        ]
      ]
    },
    "获取 GitHub Main SHA": {
      "main": [[{ "node": "创建 GitHub 分支", "type": "main", "index": 0 }]]
    },
    "获取 Jira Transitions": {
      "main": [[{ "node": "找到进行中状态", "type": "main", "index": 0 }]]
    },
    "找到进行中状态": {
      "main": [[{ "node": "更新状态为进行中", "type": "main", "index": 0 }]]
    },
    "更新状态为进行中": {
      "main": [[{ "node": "添加 Jira 评论", "type": "main", "index": 0 }]]
    },
    "创建 GitHub 分支": {
      "main": [[{ "node": "发送钉钉通知", "type": "main", "index": 0 }]]
    },
    "添加 Jira 评论": {
      "main": [[{ "node": "发送钉钉通知", "type": "main", "index": 0 }]]
    },
    "发送钉钉通知": {
      "main": [[{ "node": "返回结果", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
